// Topbar
.app-header{
  position: fixed;
  transition: 0.3s;
  z-index: 1000 !important;
  width: calc(100% - 225px);
  @media (max-width: 768px) {
    width: 100% !important;
  }
  .topbar {
    height: calc(#{$topbar-base-height} - 1rem);
    padding-left: 2rem !important;
    @media (max-width: 768px) {
      padding-left: 1rem !important;
      padding-right: 0px !important;

    }
    .open-sidebar{
      cursor: pointer;
    }
    .navbar-search {
      width: 25rem;
      input {
        font-size: 0.85rem;
        &:focus{
          box-shadow: 0 0 0 0.1rem rgba(88, 98, 108, 0.21);
        }
      }
    }
    .topbar-divider {
      width: 0;
      border-right: 1px solid $border-color;
      height: calc(#{$topbar-base-height} - 2rem);
      margin: auto 1rem;
    }
    .nav-item {
      // Customize Dropdown Arrows for Navbar
      &.dropdown {
        .dropdown-toggle {
          &::after {
            width: 0px;
            text-align: center;
            float: right;
            vertical-align: 0;
            border: 0;
            font-weight: 900;
          }
        }
        &.show {
          .dropdown-toggle::after {
          }
        }
      }
      &.languages{
        .dropdown-list{
          width: 13rem !important;
          .dropdown-list-image{
            width: 2rem;
            height: 2rem;
            img{
              width: 2rem;
              height: 2rem;
            }
          }
        }

      }
      .nav-link {
        position: relative;
        height: $topbar-base-height;
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
        color: $gray;
        cursor: pointer;
        transition: 0.3s;
        &:focus {
          outline: none;
          color: $gray-800;
        }
        &:hover {
          color: $gray-700;
        }
        &:active {
          color: $gray-700;
        }
        .badge-counter {
          position: absolute;
          transform: scale(0.7);
          transform-origin: top right;
          left: 20px;
          margin-top: -.25rem;
        }
        .img-profile {
          height: 2rem;
          width: 2rem;
        }
      }
      &:focus {
        outline: none;
      }
    }
    .dropdown {
      position: static;
      .dropdown-menu {
        width: calc(100% - #{$grid-gutter-width});
        right: $grid-gutter-width / 2;
        border: none;
      }
    }
    .dropdown-list {
      padding: 0;
      border: none;
      overflow: hidden;
      .dropdown-header {
        background-color: $bg-gray;
        border: 1px solid $bg-border-color;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        color: #fff;
      }
      .dropdown-item {
        white-space: normal;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        line-height: 1.3rem;
        .dropdown-list-image {
          position: relative;
          height: 2.5rem;
          width: 2.5rem;
          img {
            height: 2.5rem;
            width: 2.5rem;
          }
          .status-indicator {
            background-color: $gray-200;
            height: 0.75rem;
            width: 0.75rem;
            border-radius: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            border: .125rem solid $white;
          }
        }
        .text-truncate {
          max-width: 10rem;
        }
        &:active {
          background-color: $gray-200;
          color: $gray-900;
        }
      }
    }
    @media (min-width: 768px) {
      .dropdown {
        position: relative;
        .dropdown-menu {
          width: auto;
          right: 0;
        }
      }
      .dropdown-list {
        width: 20rem !important;
        .dropdown-item {
          .text-truncate {
            max-width: 13.375rem;
          }
        }
      }
    }

  }

}
