// Main Variables
$mainColor : #101823;
$linkColor : rgba(225,235,245,.87);
$subLinkColor: rgba(225,235,245,.70);
$topbar-base-height: 4.375rem;
$border-color: darken(#eaecf4, 2%);
$spacer: 1rem;
$grid-gutter-width: $spacer * 1.5;
$border-color: darken(#eaecf4, 2%);
$bg-border-color: #545556;

// Colors Variables
$white: #fff;
$gray: #818a91;
$gray-100: #f8f9fc;
$gray-200: #eaecf4;
$gray-300: #dddfeb;
$gray-400: #d1d3e2;
$gray-500: #b7b9cc;
$gray-600: #858796;
$gray-700: #6e707e;
$gray-800: #5a5c69;
$gray-900: #3a3b45;
$black: #000;
$bg-gray: #58626c;
$primary: #4e73df;
$success: #1cc88a;
$info: #36b9cc;
$warning: #f6c23e;
$danger: #dc3545;
// Custom Colors
$brand-google: #ea4335;
$brand-facebook: #3b5998;
